*{
    margin: 0px;
    padding:0px;

}
.container{
    width: 100%;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    position: relative;

}
.navbar{
    /* to display sid by side */
    display: flex;
    justify-content: space-between;

margin-left:100px;
text-align: center;
width:75%;
}
.logo{
    width: 180px;
}
.a{
display: inline-block; /*for horizontal and vertical */
margin: 5px 15px;
margin-top: 100px;
font-size: large;
}
.links{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
/* this is mainly used for color changes in the option when we click (psudoclass)*/
.links:hover{
    color:red;

}
.title{
    margin-top: 13%;
    margin-left: 8%;
}
.title_h1{
    font-size: 50px;
    margin-bottom: 20px;
}
#er{
    color: rgb(105, 28, 239);
}
.download{
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;

}
.images{
    position: absolute;
    width: 45%;
    height: 80%;
    bottom: 0px;
    right: 30px;
}
.images img{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%); 
    transition: bottom 3s,left 1s; /*image has been move slowly*/
}
/* linking the 2 image toughture*/
.images:hover #shape{
    bottom:50px;

}
.images:hover #girl{
    left:40%;
}
#about{
    margin: 13% 8% 0px 8%;
}
.hedding{
    text-align: center;
}
.hedding h2{
font-size: 30px;
}
.hedding span{
    font-size: 20px;
    color: #ca1515;
}
.aboutclass{ /*this tage is used for the seprating 2 div to another side*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    margin-top: 20px;
}
.aboutimage{
    width: 80%;
    border-radius: 1rem;
}
.aboutdetails{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    
}
.information{
    margin-top:20px;

}
.infobox{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 5px 25px;
}
.infoboxspan{
    margin-left: 1rem;

}
.headding{
    font-size:20px ;
    text-align: center;
}
.headding span{
    color: green;
}
html{
    scroll-behavior: smooth;
}
#skills{
    margin: 8% 8% 0px 8%;
}
.skillcontainer{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
}
.skillimg{
    width: 85%;
    padding-left: 4rem;
}
.barcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    margin-bottom: 1rem;
    position: relative;

    
}
.base-bar{
    width: 100%;
    height: 0.5rem; 
    background-color: black;
    border-radius: 5rem;
    position: absolute;
    bottom: 0px;
}
.html-bar{
    width: 95%;
    background-color: rgb(250, 250, 54);
}
.css-bar{
    width: 85%;
    background-color: yellow;

}
.js-bar{
width: 88%;
background-color: yellow;
}
.react-bar{
    width: 80%;
    background-color: yellow;
}

.nav span{
    color: rgb(50, 127, 50);

}
.nav{
    font-size:xx-large;
    text-align:center;
}

.er, .up-arrow{
    display: flex;
    display:inline-block;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 80%;
    font-size: 2rem;

    
}
.hedding2{
    text-align:center ;
}
.para{
    font-size:large;
}
.er:hover{
    background-image: linear-gradient(to right,red,yellow);
    font-size: 2.5rem;
}
.er i:hover{
    color: aliceblue;
    animation: shake 1s;/* shakking effecdt */
}
/* animation function */
@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
    
}
footer{
    margin: 3rem 0px;
    margin-top:20px;
}
.up-arrow{
    float: right;
    background-image: linear-gradient(to right,red,yellow);
    margin: 0px 10px 50px 0px;
    font-size:2.5rem;

}
.up-arrow:hover i{
    color: white;

}




